<%- include("../partials/header") %>

<body class="body-container___register">
    <div class="cards-container___register">

        <!-- naming convention same for every card -->
        <div class="post-card___body">
            <div class="top-bar___post">
                <img alt="user image" src="">
                <p id="user-name">Mac Dre</p>
            </div>
            <div class="image-container___post">
                <img alt="post image" src="">
            </div>
            <div class="comment-container___post">
                <p id="user-name">Mac Dre</p>
                <p id="comment-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sed.</p>
            </div>
        </div>

        <div class="register-card___register">
            <form action="/register" method="POST">
                <input name="username" type="text" placeholder="Username">
                <input name="email" type="text" placeholder="Email">
                <input name="password" type="password" placeholder="Password">
                <button id="register-button">Login</button>
            </form>
        </div> 

    </div>
</body>
</html>